<h3>@ViewBag.auctionDet.ProductName</h3>
<p>Created by: @ViewBag.auctionDet.user.FirstName</p>
<p>Auction End Date: @ViewBag.auctionDet.EndDate</p>
<p>@ViewBag.auctionDet.Description</p>
<p>Current Bid:</p>
<p>$@ViewBag.auctionDet.Bid</p><br><br>
    <input type="text">
    <input type="submit" value="Bid" action="#">